# dependencies
node_modules
.pnpm-store
/apps/*/node_modules

# builds
dist
.next
out
build

# env
.env
.env.*

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
coverage
*.tsbuildinfo
husky/_/_
